h1{
font-size: 24px;
    color: brown;
    text-align: center;
}

article{
    background-color: black;
    color: antiquewhite;
    text-align: center;
    
}
img1{
    border: groove;
    border-color: coral;
    display: flex;
    justify-content: center;
}