<h1> Bonjour à tous !</h1>
<h2> Voici ma fiche de présentation</h2>

<p>Nom : Chaudagne</p>
<p>Prenom :Thomas</p>
<p>Age : 24 ans</p>
<p>Point faible : Trop fort</p>
<p>Description : Pourquoi je suis ici ? Eh bien parce que j'aime l'informatique, parce que je suis un geek et parce que le code c'est cool. Voila. </p>