@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


    #id-p01 {
                background-color:darkgreen;
                border: 0px solid deeppink;
                padding: 0px;
                margin: 0px;
                color:aliceblue;
                text-align:center;
                font-size:20px;
             }
        
    #id-p02 {
                background-color:aqua;
                border: 0px solid deeppink;
                padding: 0px;
                margin: 0px;
                color:aqua;
                text-align:center;
             }
        
    #id-p03 {
                background-color:darkcyan;
                border: 0px solid deeppink;
                padding: 0px;
                margin: 0px;
                color:aliceblue;
                text-align:center;
             }
        
    #id-p04 {
                background-color:aliceblue;
                border: 0px solid deeppink;
                padding: 0px;
                margin: 0px;
                color:burlywood;
                text-align:center;
             }
        
    #id-img-01 {
                background-color:aqua;
                border: 0px solid deeppink;
                padding: 0px;
                margin: 0px;
                color:black;
                text-align:center;
                justify-content: center;
                align-items: center;

             }
        
    #id-div01 {
                display: flex;
                flex-direction: row;
                height: 40px;
             }
        
    #id-div-a {
                display: flex;
                flex-direction: column;
                background-color:aliceblue;
             }
        
    #id-div-b {
                background-color:beige;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding: 10px;
              }
        
    #id-div-c {
                display: flex;
                flex-direction: column;
             }
        
    #id-div-header {
                display: flex;
                flex-direction: row;
                padding: 10px;

             }
        
    .icone-texte {    
                    display: flex;
                    justify-content: flex-start;
                    align-items: baseline;
                    color:black;
                    font-size:30px;
            }
        
    .icone-texte-small {    
                    display: flex;
                    justify-content: flex-start;
                    align-items: baseline;
                    color:chartreuse;
                    font-size:18px;
                    margin-left: 20px;
            }
        
    .texte-icone-texte {    
                    display: flex;
                    justify-content: flex-start;
                    align-items: baseline;
                    color:aqua;
                    font-size:18px;
                    margin-left: 0px;
            }
        
    .icone-texte-infos {    
                    display: flex;
                    justify-content: flex-start;
                    align-items: baseline;
                    color:black;
                    font-size:18px;
                    margin-left: 20px;
                    padding: 10px;
            }
        
    .p-detail {    
                    font-size:18px;
                    margin-left: 20px;
            }
        
    .div-metier {    
                    font-size:20px;
                    padding: 10px;
            }

    .div-compet {    
                    font-size:20px;
                    margin-left: 20px;
                    padding: 10px;
                    color:black;
            }
